# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("cities.csv")
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,kem,64.9555,34.5793,41.67,81,100,9.89,RU,1652230045
1,khatanga,71.9667,102.5000,21.16,91,16,11.81,RU,1652230047
2,zeya,53.7500,127.2667,48.99,37,100,3.56,RU,1652230049
3,casablanca,33.5928,-7.6192,62.82,62,67,5.48,MA,1652230051
4,castro,-24.7911,-50.0119,59.40,89,100,1.90,BR,1652230053
...,...,...,...,...,...,...,...,...,...
531,la paz,-16.5000,-68.1500,45.05,66,89,4.85,BO,1652230804
532,north bend,43.4065,-124.2243,57.24,85,4,10.98,US,1652230824
533,isangel,-19.5500,169.2667,79.16,63,8,16.75,VU,1652230909
534,sorkjosen,69.8000,20.9333,33.80,100,100,2.30,NO,1652230910
535,tougan,13.0667,-3.0667,88.30,25,100,8.03,BF,1652230912

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.heatmap_layer?

In [4]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

#locations = gmaps.datasets.load_dataset_as_df('acled_africa')
locations = cities_df[['Lat', 'Lng']]
humidity = cities_df['Humidity']
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations, humidity)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
cond = ((cities_df["Max Temp"]<85)& 
        (cities_df["Max Temp"]>70) & 
        (cities_df["Humidity"]<66) & 
        (cities_df["Cloudiness"]<15) & 
        (cities_df["Wind Speed"]<5))



#my_cities = cities_df[(cities_df["Max Temp"]<85)&(cities_df["Max Temp"]>70)]
#len(my_cities) - len(cities_df)
#my_cities = my_cities[my_cities["Humidity"]<66]
#my_cities = my_cities[my_cities["Cloudiness"]<15]
#my_cities = my_cities[my_cities["Wind Speed"]<5]
my_cities = cities_df[cond] 
my_cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
108,nizwa,22.9333,57.5333,79.77,29,0,2.35,OM,1652230216
215,sangin,32.0728,64.8359,76.24,13,0,3.13,AF,1652230395
264,wajima,37.4000,136.9000,70.48,56,0,4.61,JP,1652230471
275,kupang,-10.1667,123.5833,82.69,60,7,2.93,ID,1652230488
311,franklin,39.9667,-83.0166,75.83,53,0,4.61,US,1652230545
322,mecca,21.4267,39.8261,84.90,20,0,4.83,SA,1652230560
330,marzuq,14.4000,46.4667,72.70,34,3,4.29,YE,1652230573
376,saint simons,31.1352,-81.3901,70.02,51,0,0.00,US,1652230645
384,pueblo nuevo,23.3833,-105.3833,72.64,40,0,3.31,MX,1652230658
407,kati,12.7441,-8.0726,83.61,16,11,1.99,ML,1652230692
450,lahij,13.1667,44.5833,79.95,58,1,3.09,YE,1652230762

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = my_cities
def get_hotel(row):
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    query_url = url + "&location=" + str(row.Lat) + "%2C" + str(row.Lng) + "&radius=5000" + "&type=hotel" + "&key=" + g_key #+ "&mode=html"
    #print(query_url)
    hotel_response = requests.get(query_url)
    hotel_json = ""
    try: 
        hotel_json = hotel_response.json()['results'][1]['name']
    except: 
        print("Error on ", query_url)
    return hotel_json
hotel_df["Hotel Name"] = hotel_df.apply(get_hotel, axis=1)
#get_hotel(my_cities.iloc[4])

Error on  https://maps.googleapis.com/maps/api/place/nearbysearch/json?&location=13.1667%2C44.5833&radius=5000&type=hotel&key=AIzaSyA6RBhOxqkdbthUDdqEDx01B1lgDNJz8gM

/var/folders/q0/5v_yzs8x58380c5k3_v8w3700000gn/T/ipykernel_16990/2439643449.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = hotel_df.apply(get_hotel, axis=1)

In [7]:
hotel_df["Hotel Name"]

108                                    Orient Apartments
215                                            Myanroday
264                                 Wajiima Onsen Yashio
275                       Hotel On The Rock by Prasanthi
311              Courtyard by Marriott Columbus Downtown
322           Makkah Clock Royal Tower, A Fairmont Hotel
330                                          Ù…Ø³Ø¬Ø¯ Ø§Ù„Ø³Ù„ÙŠÙ„
376    Holiday Inn Express Saint Simons Island, an IH...
384                Cru Roja Mexicana Delegacion El Salto
407                Famille Boua Dramane TraorÃ© Noumorila
450
Name: Hotel Name, dtype: object

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
#fig = gmaps.figure(map_type='HYBRID')
#heatmap_layer = gmaps.heatmap_layer(locations, humidity)
marker = gmaps.marker_layer(locations, info_box_content = hotel_info, display_info_box = True) 
fig.add_layer(marker)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#gmaps.marker_layer?